body {
	background-image: url('../img/fondo.png');
}

header {
	background-color: #DB33FF;
	border: 7px solid white;
	border-radius: 25px 25px 25px 25px;
	margin: 35px 25px 0;
	height: 125px;
	background-image: url('../img/gradiente1.jpg');
}

header > h1 {
	font-family: Arial;
	font-size: 55px;
	font-style: italic;
	text-align: center;
	text-decoration-line: overline underline;
	color: white;
	text-shadow: 2px 2px black;
}

header > img{
	top: 7px;
	left: 20px;
	width: 110px;
}


.zonaLateral {
	float:left;
	background-color: #DB33FF;;
	width: 200px;
	border: 7px solid white;
	border-radius: 25px 25px 25px 25px;
	margin: 10px 25px 10px 25px;
}

.zonaLateral li {
	color: white;
}

.zonaLateral a:link {
	color: red;
	font-family: Arial;
}

.zonaLateral a:hover {
	color: blue;
}
.zonaPrincipal {
	background-color: #DB33FF;
	border: 7px solid white;
	border-radius: 25px 25px 25px 25px;
	margin: 10px 25px 50px 250px;
	background-image: url('../img/gradiente2.jpg');
}

.zonaPrincipal a{
	border: 5px solid white;
	margin: 10px 0 0 0;
	border-radius: 25px 25px 25px 25px;
}
.zonaPrincipal a:hover{
	background-color: blue;
}

.zonaPrincipal h2{
	color: white;
	text-shadow: 2px 2px black;
}

.zonaPrincipal img{
	width: 200px;
	height: 200px;
}

.zonaPrincipal section {
	float: left;
	width: 33%;
	text-align: center;
}

.zonaCentral {
}

footer {
	background-color: #DB33FF;
	border: 7px solid white;
	border-radius: 25px 25px 25px 25px;
}

footer > address{
	text-align: center;
	font-size: 15px;
}

p {
	color:black;
	font-family: arial;
	font-size: 20px;
	margin-left: 15px;
}