{% extends 'padre.html' %}
{% block funciones %}
<script src="../JS/funciones.js"></script>
{% endblock %}
{% block principal %}
<div class="evento">
    <h2>{{evento.nombre}}</h2>
    <h3>{{evento.organizador}}</h3>
    <h4>{{evento.fecha}}</h4>
    <div id="img_ev1">
        <img src={{evento.imagen}} alt="img_evento">
        <div class="cred_foto"><p>{{evento.imagen_cre}}</p></div>
    </div>
    <div>
        {{evento.texto}}
    </div>
    <div>
    	<a class="icono" href="../imp/evento1_imprimir.html">
        	<img src="../img/imprimir.jpeg" alt="imprimir">
        </a>
        <a class="icono" href="https://www.facebook.com">
        	<img src="../img/facebook.png" alt="facebook">
        </a>
         <a class="icono" href="https://www.instagram.com/juanfrandm98">
        	<img src="../img/instagram.png" alt="instagram">
        </a>
        <a class="icono" href="https://www.twitter.com/wikiperritos">
        	<img src="../img/twitter.png" alt="twitter">
        </a>
    </div>
</div>
{% endblock %}

{% block zona_comentarios %}
<button id="b_comentarios" type="button" onclick="boton()"> < </button>
<div id="Comentarios">
    <h2> Comentarios </h2>
        {% for com in comentarios %}
            <div class="coment">
                <p class="autor_com">{{com["nombre"]}}</p>
                <p class="fecha_com">{{com["fecha"]}}</p>
                <p class="texto_com">{{com["cuerpo"]}}</p>
            </div>
        {% endfor %}

        <form id="formulario">
            <p>Nombre: <input type="text" id="nombre_f"></p>
            <p>Email: <input type="email" id="email_f"></p>
            <p>Cuerpo: <textarea id="cuerpo_f" onkeydown="censurar()"></textarea></p>
            <p><button id="b_enviar" type="button" onclick="publicar()">Enviar</button></p>
        </form>
</div>
{% endblock %}
