{% extends 'padre.html' %}
{% block principal %}
<div class="login">
	<h2>Iniciar sesión</h2>
	<div id="mensaje_error">{{error}}</div>
	<form action="iniciar_sesion.php" id="formulario" method="post">
            <p>Nombre de usuario: <input type="text" class="campos" name="nombre_inicio_sesion"/></p>
            <p>Contraseña: <input type="password" class="campos" name="contraseña_inicio_sesion"/></p>
            <p><input type="submit" id="b_enviar" value="Entrar"/></p>
            <p><a href="http://localhost:8080/PHP/panel_control.php">Registrarse</a>
    </form>
</div>
{% endblock %}