{% extends 'padre.html' %}
{% block principal %}
<h2> Eventos disponibles </h2>
<section >
    <a href="eventos/evento1.html"><img src="img/mariokart.jpg" alt="Evento 1"></a>
    <a href="eventos/evento1.html">Torneo Mario Kart 8 Deluxe</a>
</section>
<section>
    <a href="eventos/evento2.html"><img src="img/pokego.jpg" alt="Evento 2"></a>
    <a href="eventos/evento2.html">Evento Pokémon GO</a>
</section>
<section>
    <a href="eventos/evento3.html"><img src="img/AC.jpg" alt="Evento 3"></a>
    <a href="eventos/evento3.html">Salida Assassin's Creed III</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/lol.jpg" alt="Evento 4"></a>
    <a href="eventos/evento1.html">Campeonato LOL</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/mercado.jpg" alt="Evento 5"></a>
    <a href="eventos/evento1.html">Mercado de juegos usados</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/icon.jpg" alt="Evento 6"></a>
    <a href="eventos/evento1.html">Evento 6</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/icon.jpg" alt="Evento 7"></a>
    <a href="eventos/evento1.html">Evento 7</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/icon.jpg" alt="Evento 8"></a>
    <a href="eventos/evento1.html">Evento 8</a>
</section>
<section>
    <a href="eventos/evento1.html"><img src="img/icon.jpg" alt="Evento 9"></a>
    <a href="eventos/evento1.html">Evento 9</a>
</section>
{% endblock %}