{% extends 'padre.html' %}

{% block principal %}
<div class="gestion_evento">
    <h2>Elegir Evento</h2>
    <h3>Seleccione un evento de la lista:</h3>
    {% if gestion.accion == "Editar" %}
    <form method="post" action="editar_evento.php">
        <select name="lista_eventos">
            {% for evento in gestion.eventos %}
            <option value="{{evento.id}}">{{evento['nombre']}}</option>
            {% endfor %}
        </select>
        <button type="submit">Ok</button>
    </form>
    {% endif %}
    {% if gestion.accion == "Eliminar" %}
    <form method="post" action="eliminar_evento.php">
        <select name="lista_eventos">
            {% for evento in gestion.eventos %}
            <option value="{{evento.id}}">{{evento['nombre']}}</option>
            {% endfor %}
        </select>
        <button type="submit">Ok</button>
    </form>
    {% endif %}
</div>
{% endblock %}