{% extends 'padre.html' %}

{% block principal %}
<div class="gestion_privilegios">
    <h2>Gestion de privilegios</h2>
    <h3>Seleccione una accion y un usuario de la lista:</h3>
    <form method="post" action="gestion_privilegios.php">
        <p>Asignar privilegios de </p>
        <select name="lista_privilegios">
            <option value="registrado">Usuario registrado</option>
            <option value="moderador">Moderador</option>
            <option value="gestor sitio">Gestor del sitio</option>
            <option value="superusuario">Superusuario</option>
        </select>
        <p>a</p>
        <select name="lista_usuarios">
            {% for usuario in gestion.usuarios %}
            <option value="{{usuario.id_usuario}}">{{usuario['nombre_usuario']}}</option>
            {% endfor %}
        </select>
        <button type="submit">Ok</button>
    </form>
</div>
{% endblock %}